doctype html
html
    head
        title PassportJS SAML example
        block links
            link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
            link(rel='stylesheet', href='css/highlight.min.css')
            script(src='js/highlight.min.js')
            script.
                hljs.initHighlightingOnLoad();


    body
        div.container
            block content
        script(src='bower_components/jquery/dist/jquery.min.js')
        script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
        block scripts
